Data/Schemas/classfile.xml

<?xml version="1.0" encoding="UTF-8"?>

<!--

	Not implemented yet:
		* implements
		* skills
		* build options
		* class features
		
-->

<!ELEMENT classfile (
				name,
				key_abilities,
				role,
				proficiencies,
				
				hp_first_level,
				hp_per_level,
				
				fort_adj,
				reflex_adj,
				will_adj,
				
				healing_surges)>

<!-- 

	Descriptive elements 

-->
				
<!ELEMENT key_abilities (#PCDATA)>
<!ELEMENT role (#PCDATA)>


<!--

	Stats
	
-->

<!ELEMENT proficiencies (#PCDATA)>
<!ELEMENT hp_first_level (#PCDATA)>
<!ELEMENT hp_per_level (#PCDATA)>

<!ELEMENT fort_adj (#PCDATA)>
<!ELEMENT reflex_adj (#PCDATA)>
<!ELEMENT will_adj (#PCDATA)>

<!ELEMENT healing_surges (#PCDATA)>