Data/Schemas/xml/mapfile.xml

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT mapfile (
				name,
				
				start_tile+,
				room_tile+,
				corridor_tile+,
				end_tile+,
				door_tile+,
				stair_tile+,
				trap_tile+,
				
				max_cr,
				encounter_deck)>

<!ELEMENT name (#PCDATA)>				

<!-- 

	Tile elements 

-->
				
<!ELEMENT start_tile EMPTY>
	<!ATTLIST start_tile blend_scene CDATA #REQUIRED>
	<!ATTLIST start_tile blend_obj CDATA #REQUIRED>

<!ELEMENT room_tile EMPTY>
	<!ATTLIST room_tile blend_scene CDATA #REQUIRED>
	<!ATTLIST room_tile blend_obj CDATA #REQUIRED>
	
<!ELEMENT corridor_tile EMPTY>
	<!ATTLIST corridor_tile blend_scene CDATA #REQUIRED>
	<!ATTLIST corridor_tile blend_obj CDATA #REQUIRED>
	
<!ELEMENT end_tile EMPTY>
	<!ATTLIST end_tile blend_scene CDATA #REQUIRED>
	<!ATTLIST end_tile blend_obj CDATA #REQUIRED>
	
<!ELEMENT door_tile EMPTY>
	<!ATTLIST door_tile blend_scene CDATA #REQUIRED>
	<!ATTLIST door_tile blend_obj CDATA #REQUIRED>
	
<!ELEMENT stair_tile EMPTY>
	<!ATTLIST stair_tile blend_scene CDATA #REQUIRED>
	<!ATTLIST stair_tile blend_obj CDATA #REQUIRED>
	
<!ELEMENT trap_tile EMPTY>
	<!ATTLIST trap_tile blend_scene CDATA #REQUIRED>
	<!ATTLIST trap_tile blend_obj CDATA #REQUIRED>
	
<!--

	Other Elements
	
-->

<!ELEMENT max_cr (#PCDATA)>
<!ELEMENT encounter_deck (#PCDATA)>
